<!DOCTYPE html>
<html>
<head>
    <title>Posting Form</title>
</head>
<body>
    <form method="post">
        <label for="name" >Component:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="age">Material:</label>
        <input type="text" id="material" name="material">
        
        <label for="age">Length:</label>
        <input type="text" id="length" name="length">

        <label for="age">Width:</label>
        <input type="text" id="width" name="width"> 

        <label for="age">Classification:</label>
        <input type="text" id="classification" name="classification"> 

        <button type="submit">Submit</button>
    </form>
</body>
</html>